@model OBM.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@if (ViewBag.Access == true)
{
    <input type="hidden" id="eventID" name="eventID" value="@Html.DisplayFor(model => model.EventID)" />
    <div>
        <h4>Event</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OrganizerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganizerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Public)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Public)
            </dd>

<<<<<<< HEAD
        </dl>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Brackets</th>
            </tr>
        </table>
        <div id="Competitors"></div>
    </div>
=======
    </dl>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Tournaments</th>

        </tr>
        @for (int i = 0; i < 0; i++)
        {
            <tr>
                <!--add a row for each tournament, or put 3 columns and then a new row-->
                <!--This may be ajax, which is cool but I need the action linkt to be here-->

            </tr>
        }
        @if(ViewBag.Access == true)
        {
            <tr>
                <td>@Html.ActionLink("Add Tournament", "NewTournament/" + Model.EventID)</td>
            </tr>
        }

    </table>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Brackets</th>
        </tr>

    </table>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Competitors</th>
        </tr>
    </table>
</div>
>>>>>>> 53493f9f937068fdd704f2739b406e39a2f63a13
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <div class="form-horizontal">
        <h4>Access Denied</h4>
    </div>
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/CompDisplay.js"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
}