@model OBM.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Details";
}

    <h2>@Model.EventName</h2>

    <input type="hidden" id="eventID" name="eventID" value="@Html.DisplayFor(model => model.EventID)" />
    <div>
        <h4>Event</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OrganizerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganizerName)
            </dd>


            

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Public)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Public)
            </dd>

            <dd>
                @Html.ActionLink("View Standings", "Standings", new { id = Model.EventID })
            </dd>
        </dl>


        <div class="dl-horizontal" id="TournamentList">
            <h1>
                Tournaments      
            </h1>
        </div>
        <script>
             EventID =@Model.EventID;
        console.log(EventID);
        $.ajax({
            url: "/Tournaments/TournamentListGet?EventID="+EventID,
            data: EventID,
            type: 'GET',
            dataType: 'json',
            success:
                function (data)
                {
                    $("#TournamentList").append('<table class="table"><thead><tr>');

                    i = 1;
                    data = JSON.parse(data);
                    while (i <= data.length)
                    {

                        $("#TournamentList").append("<tr><th>"+i+":    </th><td><a href=/Tournaments/Details/"+data[i]["TournamentID"]+">"+data[i]["TournamentName"]+"</tr></td>");

                        i++;
                    }


                    $("#TournamentList").append('</table></thead></tr>');
                }
});
        </script>
    </div>
</br>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>



