@model OBM.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@if (ViewBag.Access == true)
{
<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Public)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Public)
        </dd>

    </dl>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Tournaments</th>

        </tr>
        @if (1 == 0)
        {
            <tr>
            </tr>
        }
        <tr>
            <td>@Html.ActionLink("Add Tournament", "NewTournament")</td>
        </tr>

    </table>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Brackets</th>
        </tr>

    </table>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Competitors</th>
        </tr>
    </table>
</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <div class="form-horizontal">
        <h4>Access Denied</h4>
    </div>
}