@model IEnumerable<OBM.Models.ViewModels.EventViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th scope="col">
            Event Name
        </th>
        <th scope="col">
            Organizer
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th scope="col">
            Access
        </th>
        <th scope="col">
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            @{ 
                if(item.Public)
                {
                    <td>
                        Public
                    </td>
                }
                else
                {
                    <td>
                        Private   
                    </td>
                }
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
            </td>
        </tr>
    }

</table>
