@model OBM.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Manage";

    <div class="row">
        <div class="col" align="center">
            <h1><i>@Html.DisplayFor(model => model.EventName)</i></h1>
        </div>
        <div class="col" align="center">
            <p>@Html.ActionLink("Add Tournament from Challonge", "NewTournament/" + Model.EventID)</p>
            <p>@Html.ActionLink("Create new Challonge Tournament", controllerName: "Tournaments", actionName: "Create")</p>
            <input id="EventID" type="hidden" value="@Model.EventID" />
        </div>
    </div>
    if (ViewBag.Access == true)
    {
        <div class="col-md-10" align="center">
            <button type="button" class ="btn createbtn" onclick="toggleStream()">Stream Tools</button>
            <form id="streamForm" style="display: none">
                <br />
                <label for="round">Round:</label>
                <input type="text" id="round" name="round" value="-" /><br />
                <label for="player1">Player 1:</label>
                <input type="text" id="player1" name="player1" value="Player 1" />
                <label for="score1">Score 1:</label>
                <input type="number" id="score1" name="score1" value="0" /><br />
                <label for="player2">Player 2:</label>
                <input type="text" id="player2" name="player2" value="Player 2" />
                <label for="score2">Score 2:</label>
                <input type="number" id="score2" name="score2" value="0" /><br />
                <input type="button" onclick="updateAll()" value="Update">
                <p>@Html.ActionLink("Need help with stream files?", controllerName:"Events", actionName:"StreamHelp")</p>
            </form>
        <input type="hidden" id="eventID" name="eventID" value="@Html.DisplayFor(model => model.EventID)" />
        <div id="Matches">
            @Html.AntiForgeryToken();
        </div>
        <div id="Competitors">
        </div>
        <br />
        @Html.ActionLink("See Schedule", "Schedule", new { id = Model.EventID })
        <button type="button" onclick="hideShow('MinimalGraph');" class="btn createbtn">Show Estimated Time Line</button>
        <div id="MinimalGraph" style="display:none">
            <canvas id="EventGraph" aria-label="Estimated Event Timeline"></canvas>
        </div>
        <br />
            <br />
        <p>
            @Html.ActionLink("Edit Details", "Edit", new { id = Model.EventID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        </div>
    }
    else
    {
        <div class="form-horizontal">
            <h4>Access Denied</h4>
        </div>
    }
}
@section scripts {
    @Scripts.Render("~/bundles/MatchDisplay")
    <script type="text/javascript" src="~/Scripts/sendSMS.js"></script>
}
