@model OBM.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Manage";


    <h2>@Html.DisplayFor(model => model.EventName)</h2>
    <p>@Html.ActionLink("Add Tournament", "NewTournament/" + Model.EventID)</p>
    <input id="EventID" type="hidden" value="@Model.EventID" />
    <div class="col-md-10" align="center">
        @if (ViewBag.Access == true)
        {
        <form>
            <label for="round">Round:</label>
            <input type="text" id="round" name="round" /><br />
            <label for="player1">Player 1:</label>
            <input type="text" id="player1" name="player1" />
            <label for="score1">Score 1:</label>
            <input type="number" id="score1" name="score1" /><br />
            <label for="player2">Player 2:</label>
            <input type="text" id="player2" name="player2" />
            <label for="score2">Score 2:</label>
            <input type="number" id="score2" name="score2" /><br />
            <input type="button" id="dwn-btn" value="Update">

        </form>

            <input type="hidden" id="eventID" name="eventID" value="@Html.DisplayFor(model => model.EventID)" />
            <div id="Matches"></div>
            <div id="Competitors"></div>
            <button type="button" onclick="hideShow('MinimalGraph');">Show Time Line</button>
            <div id="MinimalGraph" style="display:block">
                <canvas id="myChart"></canvas>
            </div>

            <p>
                @Html.ActionLink("Edit Details", "Edit", new { id = Model.EventID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
        else
        {
            <div class="form-horizontal">
                <h4>Access Denied</h4>
            </div>
        }
    </div>
}
@Scripts.Render("~/bundles/MatchDisplay")