@model OBM.Models.ViewModels.TournamentViewModel
@{
    ViewBag.Title = Model.TournamentName;

    <h1>@Html.DisplayFor(model => model.TournamentName)</h1>

    if (ViewBag.Access == true)
    {
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>Description</dt>
                <dd>@Html.DisplayFor(model => model.Description)</dd>

                <dt>Game</dt>
                <dd>@Html.DisplayFor(model => model.Game)</dd>

                <dt>Team Based?</dt>
                <dd>@Html.DisplayFor(model => model.IsTeams)</dd>

                <dt>Event</dt>
                <dd>@Html.ActionLink(Model.EventName.ToString(), "/Details/" + Model.EventID)</dd>

                <dt>Tournament Organizer</dt>
                <dd>@Html.DisplayFor(model => model.OrganizerName)</dd>

                <dt>Ending URL string</dt>
                <dd>@Html.DisplayFor(model => model.UrlString)</dd>
            </dl>



            <table class="table table-bordered table-striped">
                <tr>
                    <th>Brackets</th>
                </tr>

            </table>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Competitors</th>
                </tr>
            </table>
        </div>

        <input id="EventID" type="hidden" value="@Model.EventID" />
        <input id="TournamentID" type="hidden" value="@Model.TournamentID" />
        <button type="button" onclick="hideShow('MinimalGraph');">Show Time Line</button>
        <div id="MinimalGraph" style="display:block">
            <canvas id="myChart"></canvas>
        </div>

        using (Html.BeginForm(FormMethod.Post))
        {
            <div class="form-group">
                <input id="delete-tournament" type="submit" value="Delete Tournament" class="btn btn-default" />
            </div>
        }
    }
    else
    {
        <div class="form-horizontal">
            <h4>Access Denied</h4>
        </div>
    }
}


@Scripts.Render("~/bundles/TournamentDisplay")