@model OBM.Models.RegisterChalViewModel
@using reCAPTCHA.MVC

@{
    ViewBag.Title = "Register With Challonge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card w-50 mx-auto">
    <div class="card-header bg-secondary text-light text-center">
        <h2>Register with your Challonge Username and API key!</h2>
    </div>
    <div class="card-body bg-dark text-light">
        @using (Html.BeginForm("RegisterChal", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            @Html.LabelFor(m => m.Username, new { @class = "col control-label" })
        </div>
            <div class="row">
                @Html.TextBoxFor(m => m.Username, new { @class = "col form-control bg-secondary text-light", placeholder = "Enter Username" })
            </div>
            <div class="row">
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                @Html.LabelFor(m => m.Email, new { @class = "col control-label" })
            </div>
            <div class="row">
                @Html.TextBoxFor(m => m.Email, new { @class = "col form-control bg-secondary text-light", placeholder = "Enter Email" })
            </div>
            <div class="row">
                @Html.ValidationMessageFor(m => m.ApiKey, "", new { @class = "text-danger" })
                @Html.LabelFor(m => m.ApiKey, new { @class = "col control-label" })
            </div>
            <div class="row">
                @Html.PasswordFor(m => m.ApiKey, new { @class = "col form-control bg-secondary text-light mb-3", placeholder = "Enter Challonge API Key" })
            </div>

            @Html.Recaptcha()
            @Html.ValidationMessage("ReCaptcha")

            <div class="row">
                <div class="col-md-6 pt-3">
                    <input type="submit" class="btn createbtn" value="Register" />
                </div>
            </div>

        }
    </div>
    <div class="card-footer bg-secondary text-light">
        <h6>Don't have an API key? <a id="accountLink" href="https://challonge.com/settings/developer">Click here</a></h6>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
