@model IEnumerable<OBM.Models.ViewModels.EventViewModel>

@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.Login == true)
{
    <h2>My Events</h2>
    <p>
        @Html.ActionLink("Create New", "Create", "Events")
    </p>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.ActionLink("Manage", "Manage", "Events", new { id = item.EventID }, null) | 
                    @Html.ActionLink("Edit Details", "Edit", "Events", new { id = item.EventID }, null) | 
                    @Html.ActionLink("Delete", "Delete", "Events", new { id = item.EventID }, null)
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p class="lead">Start organizing events with our multi-bracket management system.</p>
        <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Create an Account &raquo;</a></p>
    </div>
}
