@model IEnumerable<OBM.Models.ViewModels.EventViewModel>

@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.Login == true)
{
    <h2>My Events</h2>
    <p>
        @Html.ActionLink("Create New", "Create", "Events")
    </p>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.ActionLink("Manage", "Manage", "Events", new { id = item.EventID }, null) |
                    @Html.ActionLink("Edit Details", "Edit", "Events", new { id = item.EventID }, null) |
                    @Html.ActionLink("Delete", "Delete", "Events", new { id = item.EventID }, null)
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="oktitle text-center p-0 m-0">
                        <text class="wordsok">O</text>
                        <text class="wordsok">K</text>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="bmtitle text-center">
                        <text class="wordsbm">Bracket</text>
                        <text class="wordsbm">Manager</text>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="font-italic text-center titledesc">
                        Where brackets are made.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <hr />
                    <h2>
                        <b>You know you want to join, start creating brackets today!</b>
                    </h2>
                    <div class="row justify-content-center">
                        <div class="col-sm-3">
                            @using (Html.BeginForm("Login","Account", FormMethod.Get))
                            {
                                <input type="submit" value="Create Brackets" class="btn createbtn" />
                            }
                        </div>
                        <div class="col-sm-3">
                            @using (Html.BeginForm("RegisterOptions", "Account", FormMethod.Get))
                            {
                                <input type="submit" value="Register Account" class="btn registerbtn" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <hr />
                    <h2>
                        <b class="eventtitle">-Upcoming</b><b class="eventtitle"> Events-</b>
                    </h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <table id="eventtable" class="table table-responsive-md table-dark table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Event Name
                                        </th>
                                        <th>
                                            Organizer
                                        </th>
                                        <th>
                                            Location
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink(item.EventName, "Details", "Events", new { id = item.EventID }, new { @class = "eventdata" })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.OrganizerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Location)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/HomePage")
}
