<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OBM - @ViewBag.Title</title>
    <link href="~/Media/OKicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="@Url.Action("Index", "Home")">
            <img class="nav-logo" alt="OK" src="@Url.Content("~/Media/OKsign.png")">
        </a>
        <i>
            @Html.ActionLink("OK Bracket Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </i>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><i>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</i></li>
                <li class="nav-item"><i>@Html.ActionLink("Events", "Index", "Events", null, new { @class = "nav-link" })</i></li>

                @using (Html.BeginForm())
                {
                    <p>
                        Title: @Html.TextBox("search") <br />
                        <input type="submit" value="search" formmethod="get" formaction="~/Events/EventSearch"/>
                    </p>

                }


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="row" style="width:100%">
            <div class="col">
            </div>
            <div class="col">
                <img class="team-logo" src="~/Media/OKlogo.png" alt="OK Computer" />
                <p>&copy; @DateTime.Now.Year</p>
            </div>
            <div class="col">
                <p><a class="git-link" href="https://github.com/theMalmstadt/Ok_Computer/">Our Github Repo &raquo;</a></p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
