@model OBM.Models.IndexViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Manage";
}

    <h1 class="text-center">@User.Identity.GetUserName().ToString()</h1>

<p class="text-danger">@ViewBag.StatusMessage</p>
<div>
    <h2><b>@ViewBag.Title:</b></h2>
    <hr />
    <dl @*class="dl-horizontal"*@>
        <dd>
            @if (Model.HasUsername)
            {
                @Html.ActionLink("Change your Username", "ChangeUsername")
            }
        </dd>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>
        <dt><b>Challonge Api Access:</b></dt>
        <dd>
            @if (Model.HasApiKey)
            {
                @Html.ActionLink("Change Challonge API key", "ChangeApiKey")

                @*@Html.BeginForm("DeleteApiKey", "Manage", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" })
                    {
                        <input type = "submit" name = "Remove" value = "Remove" onclick = "return confirm('Please confirm that you want to remove Api Key: ')" />
                    }*@
            }
            else
            {
                @Html.ActionLink("Add Challonge API key", "ChangeApiKey")
            }
        </dd>



        @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>*@
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        @*<dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>*@
        @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }
            </dd>*@
    </dl>
    

</div>
