@model OBM.Models.Tournament

@{
    ViewBag.Title = "Create";
}


<h2>Create a New Challonge Tournament for your Event</h2>


   

        <div class="form-group">
            Event:
            <div class="col-md-10">

                @Html.DropDownListFor(m => m.EventID, new SelectList(ViewBag.UserEventsList, "EventID", "EventName"), htmlAttributes: new { @class = "form-control",aria_describedby="dropdownMenu1"})



           
            </div>
        </div>

     

       
     <script>var myApiKey='@ViewBag.ApiKey'</script>


<div class="container-fluid" id="scriptContainer"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/CreateTournament.js")
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

