@model OBM.Models.Tournament

@{
    ViewBag.Title = "Create";
}


<h2>Create a New Challonge Tournament for your Event</h2>






@if (HttpContext.Current.User.Identity.IsAuthenticated)
{

    <div class="container">

        <div class="col">
            <div class="row">
                Event: @Html.DropDownListFor(m => m.EventID, new SelectList(ViewBag.UserEventsList, "EventID", "EventName"), htmlAttributes: new { @class = "form-control", aria_describedby = "dropdownMenu1", id = "eventID" })
            </div>



        </div>
    </div>

    <div class="container" id="scriptContainer">

    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/CreateTournament.js")
        @Scripts.Render("~/Scripts/jQuery.datetimepicker.js")
        @Styles.Render("~/Content/jQuery.datetimepicker.css")


    }
}
else
{
    <h1>Please Log in</h1>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

