
@model OBM.Models.Tournament
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TournamentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game)
        </dd>



        <dt>
            Parent Event:
        </dt>

        <dd>
            <a href="/Events/Details/@Model.EventID">Event Details</a>
        </dd>



    </dl>
    @{
        var urlString = "https://challonge.com/" + Model.UrlString + "/module?theme=1";

    }
    <a href="https://challonge.com/@(Model.UrlString)">Challonge Page</a>

    <div class="demo_iframe_container">
        <iframe id="bracket" src=@urlString width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
    </div>



    <div id="competitorList">
        <h1>Competitors:</h1>
    </div>
    <script>
        tournament_id =@Model.TournamentID;
        console.log(tournament_id);
        $.ajax({
            url: "/Tournaments/CompetitorListJson?tournament_id="+tournament_id,
            data: tournament_id,
            type: 'GET',
            dataType: 'json',
            success:
                function (data)
                {
                    $("#competitorList").append('<table class="table"><thead><tr>');

                    i = 1;
                    while (i <= data.length)
                    {

                        $("#competitorList").append("<tr><th>"+i+":    </th><td>"+data[i]+"</tr></td>");

                        i++;
                    }


                    $("#competitorList").append('</table></thead></tr>');
                }
});
    </script>

</div>

<p>
    @Html.ActionLink("Back to List", "Search", "Home", new { table = "Tournaments" }, htmlAttributes: new { @class = "btn createbtn2" })
</p>
@if (User.Identity.GetUserId() == ViewBag.OrganizerId)
{
    <p>
        @Html.ActionLink("Management View", "Tournament", "Events", routeValues: new { id = Model.TournamentID }, htmlAttributes: new { @class = "btn createbtn2" })
    </p>
}


