@model IEnumerable<OBM.Models.Tournament>

@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")


<h2>Tournaments</h2>


<table class="table" id="TournamentTable">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TournamentName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.EventID)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ApiId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UrlString)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsTeams)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>
                    @WebUtility.HtmlDecode(item.TournamentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventID)
                </td>
                <td>
                    @WebUtility.HtmlDecode(item.Description)
                </td>
                <td>
                    @WebUtility.HtmlDecode(item.Game)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApiId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlString)
                </td>
                @{ 
                    if(item.IsTeams)
                    {
                        <td>
                            Yes
                        </td>
                    }
                    else
                    {
                        <td>
                            No   
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
<table id="table2"></table>

<script type="text/javascript" charset="utf8" src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/TournamentSearch.js"></script>
