@model IEnumerable<OBM.Models.Tournament>

@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")


<h2>Tournaments</h2>


<table class="table" id="TournamentTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TournamentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTeams)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TournamentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApiId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsTeams)
                </td>
            </tr>
        }
    </tbody>
</table>
<table id="table2"></table>
<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/TournamentSearch.js"></script>
