@model IEnumerable<OBM.Models.Tournament>
@{
    ViewBag.Title = "Standings";

    <div class="col-md-10" align="center">
        @if (ViewBag.Access == true)
        {
            <div id="MinimalGraph" style="display:block">
                @foreach (var tourn in Model)
                {
                    <h2>@tourn.TournamentName</h2>
                    <input id="EventID" type="hidden" value="@tourn.EventID" />
                    <input id="TournamentID" type="hidden" value="@tourn.TournamentID" />
                    <canvas id="@tourn.TournamentID"></canvas>
                }
            </div>
        }
        else
        {
            <div class="form-horizontal">
                <h4>Access Denied</h4>
            </div>
        }
    </div>
}
@Scripts.Render("~/bundles/StandingsDisplay")